<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Filtering" version="0.7.0" manuallyInstalled="true" />
  <package id="MathNet.Numerics" version="5.0.0" />
  <package id="Microsoft.ML.OnnxRuntime" version="1.16.0" manuallyInstalled="true" />
  <package id="Microsoft.ML.OnnxRuntime.Gpu" version="1.16.0" manuallyInstalled="true" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.16.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Memory" version="4.5.5" />
  <package id="System.Numerics.Vectors" version="4.5.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" />
</packages>